.container{
    margin:50 px 0;

}
.card{
    margin: 0 2% !important;
}
.infected{
    border-bottom: 10px solid #0c0cec80;
}
.recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.822);
}
.deaths{
    border-bottom: 10px solid rgb(255, 0, 0);
}
